.DS_Store
/context/php/vendor/
/.swp
/.idea
/build/api
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/build/testdox
/cache.properties
/example-tests/Report/*
*.swp
/context/php/athena.lock
